.LeftBar{
    height: 1200px;
    width: 20%;
    background: #ccffff;
    float: left;
}
.Spisok{
    line-height: 2;
    font-size: 14pt;
    color: white;
    background: #67cc66;

}
.Elem{
    list-style-type: none;
    padding-left: 10%;
    margin-top: -1px;
    color: white;
    width: 100%;
    text-decoration: none;
}
.Elem:hover{
    font-weight: bold;
    cursor: pointer;
}
.Zagolovok{
    text-align: center;
    color: #003105;
}
@media (min-width: 700px) and (max-width: 1024px) { 
    .Spisok { 
    font-size: calc(14px + (18 - 14) * ( (100vw - 480px) / ( 1024 - 580) )); 
    } 
    } 
    @media (min-width: 700px) and (max-width: 1024px) { 
        .Zagolovok { 
        font-size: calc(14px + (18 - 14) * ( (100vw - 100px) / ( 1024 - 100) )); 
        } 
        }
        @media (max-width: 700px) { 
            .LeftBar { width: 150px; 
             
            } 
            }  
            @media (max-width: 700px)  { 
                .Spisok { 
                font-size: calc(14px + (18 - 14) * ( (100vw - 480px) / ( 1024 - 580) )); 
                } 
                } 
                @media (max-width: 700px)  { 
                    .Zagolovok { 
                    font-size: calc(14px + (18 - 14) * ( (100vw - 100px) / ( 1024 - 100) )); 
                    } 
                    }       