.rezume{
	width:800px;
	height: 1200px;
	background-color: #CCFFFF; 
	margin-top: 50px;

}
.fst_section{
	width: 800px;
	height: 200px;
}
.photostud{
	width: 40%;
	height: 200px;
	float: left;
	background-color: #b0aaaa;
	margin-left: 30%;
}
.photostudp{
	width: 100%;
	height: 200px;
}
.FIO_spec{
	float: left;
	width: 100%;
	height: 150px;
}
.FIO_spec > div{
text-align: center;
font-size: 30px;
}
.FIOstud {
	height:50px;
	width: 100%;
	position: relative;
}
.FIOstud > input{
	height:50px;
	width: 100%;
	position: relative;
}
.FIO > input{
	height:44px;
	width: 100%;
	float: left;
	font-size: 30px;
}
.spec{
	height:50px;
	width: 100%;
}
.spec > input{
	height:44px;
	width: 100%;
	float: left;
	font-size: 30px;
}
.about{
	width: 100%;
	float: left;
}
h2{
	text-align: center;
	font-size: 30px;
}
.about > textarea{
	width: 100%;
	resize: none;
}
.recomendation{
    width: 100%;
    height: 90px;
    border-radius: 20px;
    background-color: #66CC66;
    padding-top: 20px;
    margin-bottom: 20px;
}
.recomendation > input{
	float: left;
	width: 290px;
	height: 27px;
}
.recomendation > textarea{
    width: 500px;
}	
.recomendation > input{ 
	float: left; 
	width: 286px; 
	height: 27px; 
	background-color: rgba(0,0,0,0); 
	color: white; 
	font-size: 17px; 
	padding-left: 7px; 
	} 
	.recomendation > textarea{ 
		text-align: center; 
	width: 500px; 
	} 
	input{ 
	border: none; 
	} 
	textarea{ 
	background-color: rgba(0,0,0,0); 
	color: white; 
	border: none; 
	
	}
	.FIO_student{
		font-size: 20pt;
		background-color: rgba(0,0,0,0); 
		color: black;
		font-weight: bold;
		float: left;
	border: none;
	width: 100%;
	text-align: center;
	}
.spec_student{
	font-size: 18pt;
	background-color: rgba(0,0,0,0); 
		color: black;
		font-weight: bold;
		text-align: center;
	border: none;
}
.about_student{
	font-size: 18pt;
	Color: black;
}
.specialnost{
	width:100%;
	height: 60px;
	text-align: center;
}