.shapka{
    background: #0166ff;
    font-size: 14pt;
    height: 65px;
    width: 100%;
    border: 3px double black;
}
.Login{
    width: 550px;
    height: 65px;
    margin-left: auto;
}
/*.LoginUch{
    text-align: center;
    padding-top: 10px;
    width: 150px;
    height: 40px;
    float: left;
}
.LoginRab{
    text-align: center;
    padding-top: 10px;
    width: 150px;
    height: 40px;
    float: left;
}*/

.Autoriz{
    text-align: center;
    padding-top: 20px;
    color: white;
    width: 150px;
    height: 45px;
    float: left;
    font-weight: bold;
}
.LoginUch:hover{
    border: 2px solid blue;
}
.LoginRab:hover{
    border: 2px solid blue;
}